.MintsPage {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;


    .Container,
    .CollectionContainer {
        margin-left: 20px;
    }

    .Container:first-child {
        margin-left: 0 !important;
    }

    &__TimesButtonGroup {
        width: 100%;
        justify-content: space-between;
        display: flex;
        position: relative !important;
    }

    &__TimesButton {
        border: 0 !important;
        background-color: transparent !important;
        font-family: var(--font-family) !important;
        font-weight: var(--font-weight-normal) !important;
        font-size: 12px !important;
        padding: 0 0 5px !important;
        min-height: auto !important;
        color: var(--secondary-text-color) !important;
        transition: all 0.3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__TimesButton[aria-pressed=true] {
        color: var(--checked-button-color) !important;
    }

    &__TimesButton:hover {
        color: var(--checked-button-color) !important;
        opacity: 0.6;
    }

    &__TimesButton::after {
        content: "";
        z-index: 1;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        border: 1px solid var(--checked-button-color);
        opacity: 0;
        transition: all 0.3s;
    }

    &__TimesButton:hover::after {
        opacity: 0.6;
    }

    &__TimesButton[aria-pressed=true]::after {
        opacity: 0.6;
    }

    &__loader {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    &__ChartLabel {
        margin: 10px 0;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        font-family: var(--font-family-secondary);
        color: var(--secondary-text-color);
        text-align: left;
    }

    &__ModalOuter {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: transparent;
        outline: none !important;
    }

    &__ModalInner {
        opacity: 0;
        transition: opacity 0.3s;
        width: 1200px;
        background-color: #0C0910;
        border-radius: 10px;
        border: 1px solid var(--delimiter-color-light);
        min-height: 650px;
        position: relative;
        display: flex;
        flex-direction: row;
        -webkit-tap-highlight-color: transparent;
        outline: none !important;
    }

    &__LeftModalInfo {
        padding: 30px;
        display: flex;
        flex-direction: column;

        img {
            width: 300px;
            height: 300px;
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }

    &__LeftModalInfoBlock {
        display: flex;
        position: relative;
        max-width: 300px;
        padding: 10px;
        border-radius: 10px;
        flex-direction: column;
        background-color: #1C1822;

        .info-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 20px;
            margin-top: 10px;

            .row-header {
                font-family: var(--font-family-secondary);
                font-weight: 600;
                font-size: 12px;
                color: var(--secondary-text-color);
            }
            .row-body {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                color: #FFF;
            }
        }

        .info-row:first-child {
            margin-top: 0;
        }
    }

    &__RightModalInfoBlock {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 30px 30px 0;

        .header {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .collection-name {
                position: relative;
                display: flex;
                margin: 10px 0;
                cursor: pointer;
                transition: opacity 0.3s;
                font-size: 14px;
                font-weight: 400;
                color: var(--checked-button-color);
            }

            .collection-name:hover {
                opacity: 0.7;
            }

            .nft-name {
                position: relative;
                display: flex;
                margin-bottom: 20px;
                font-size: 28px;
                font-weight: 500;
            }

            .owner-name {
                position: relative;
                display: flex;
                height: 20px;
                align-items: center;

                .text-before {
                    color: var(--secondary-text-color);
                    margin-right: 3px;
                    font-size: 12px;
                }
                .text-after > a {
                    color: var(--checked-button-color) !important;
                }
            }
        }

        .description {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 140px;
            margin-bottom: 30px;

            .description-header {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                color: #FFF;
            }

            .description-content {
                font-family: var(--font-family-secondary);
                font-weight: 400;
                font-size: 14px;
                color: var(--secondary-text-color);
                width: 100%;
                word-wrap: break-word;
            }
        }
        .traits {
            position: relative;

            display: flex;
            flex-direction: column;

            .traits-header {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                color: #FFF;
            }

            .traits-content {
                font-family: var(--font-family-secondary);
                font-weight: 400;
                font-size: 14px;
                color: var(--secondary-text-color);
                width: 100%;
                word-wrap: break-word;
            }
        }
    }
}

.MuiChartsAxis-directionY .MuiChartsAxis-line,
.MuiChartsAxis-directionX .MuiChartsAxis-tick {
    display: none;
}

.MuiChartsGrid-line,
.MuiChartsAxis-directionY .MuiChartsAxis-tick,
.MuiChartsAxis-directionX .MuiChartsAxis-line {
    stroke: #2A2532 !important;
    shape-rendering: geometricprecision !important;
}
.MuiChartsAxis-directionY .MuiChartsAxis-tick {
    transform: scaleX(5);
}

.MuiChartsAxis-tickLabel,
.MuiChartsAxis-label > text > tspan {
    font-family: var(--font-family) !important;
    color: var(--secondary-text-color) !important;
    fill: var(--secondary-text-color) !important;
    font-size: 10px !important;
    font-weight: 400 !important;
}

.MuiChartsAxis-label > text > tspan {
    display: none !important;
}

.MuiChartsAxis-tickLabel {
    fill: var(--delimiter-color-light) !important;
    color: var(--delimiter-color-light) !important;
}

.MuiChartsAxis-directionY .MuiChartsAxis-tickLabel {
    transform: translate(0, -8px);
}

.MuiModalClose-root {
    transition: all 0.3s !important;
}
